html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


table {
	border-collapse: collapse;
	width: 100%;

}

tbody {
	text-align: center;
}

th {
	font-size: 30px;
	font-family: 'arial';

}

th, td {
	padding: 15px;
}

tr {
	font-family: 'Arial';
}

h1 {
	text-align: center;
	font-family: 'Staatliches';
	padding: 10px 0;
	letter-spacing: 10px;
	font-size: 40px;
	transition: 0.4s ease;
}


.first {
	font-size: 24px;
	transition: 0.4s ease;

}

.first:hover {
	color: orange;
	transition: 0.4s ease;
}

h1:hover {
	transform: scale(1.2);
	color: orange;
	transition: 0.4s ease;
}



