body {
	margin: 0;
	padding: 0;
	background: black;
}

.wrapper {
	font-size: 21px;
	text-align: center;
	position: absolute;
	width: 100%;
	display: block;
}

.reveal {
    position: absolute;
    left: 45%;
    top: 45%;
    color: gold;
    font-size: 42px;
}

.proxy-wrap {
	width: 300px;
	height: 60px;
	top: 35%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}


.proxymeter {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateX(-20deg) rotateY(-20deg);
}

.side {
	width: 100%;
	height: 100%;
	background: rgba(254,254,254, 0.5);
	top: 180%;
	left: 0;
	position: absolute;
}

.coins {
    color: aqua;
    /* transform: translate(-50%,-50%); */
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    /* text-align: right; */
    position: absolute;
    right: 5%;
}

.bottom {
	transform: rotateX(90deg);
	transform-origin: bottom;
	box-shadow: 10px 10px 50px 5px rgba(254,254,254,0.7);
}

.left {
	width: 60px;
	transform: rotateY(90deg);
	transform-origin: left;
}

.top {
	transform: translate(0, -100%) rotateX(90deg);
	transform-origin: bottom;
}

.back {
	transform: translateZ(-60px);
}

.bar {
    position: absolute;
	height: 100%;
	background: rgba(255,0,120,0.6);
	box-shadow: 5px 5px 5px rgba(255,0,120,0.3);
	width: 70%;
}

.question {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 480px;
	height: 360px;
}

img {
	width: 100%;
	border-radius: 30px;
	transition: 0.4s ease;

}


.answerBox {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 40px;
	width: 380px;
	border-radius: 40px;
	padding: 10px;
}

.answerBox:hover > .text {
	width: 240px;
	padding: 0 6px;
}

.answerBox:hover > .button {
	background: white;
	color: #2f3640;
}

.answerBoxBtn {
        position: absolute;
        top: 95%;
        left: 62%;
        transform: translate(-50%, -50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
}

.button {
	color: whitesmoke;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
}

a {
	text-decoration: none;
}

.text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.5s ease;
	line-height: 40px;
	width: 0;

}
